@page "/"

<PageTitle>Index</PageTitle>

<h1>TDS2490-oblig</h1>

@code {
    List<string> animalEmoji = new List<string>()
    {
        "🐶", "🐶",
        "🐺", "🐺", 
        "🐮", "🐮", 
        "🦊", "🦊", 
        "🐱", "🐱", 
        "🦁", "🦁", 
        "🐯", "🐯", 
        "🐹", "🐹", 
    };
}